@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

// Colors

// Primary
// Text

@pale_violet:hsl (276, 100%, 81%);
@modarate_violet:hsl (276, 55%, 52%);
@desaturated_dark_violet:hsl (271, 15%, 43%);
@Graylish_Blue: hsl(206, 6%, 79%);
@Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
@Dark_Grayish_Violet: hsl(270, 7%, 64%);

// Gradients
@light_magenta:hsl (293, 100%, 63%);
@Light_Violet: hsl(264, 100%, 61%);

//Secundary
@White: hsl(0, 0%, 100%);
@Light_Grayish_Violet: hsl(270, 20%, 96%);
@Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
@Very_Light_Magenta: hsl(289, 100%, 72%);
